# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
package-lock.json
yarn.lock

# Build output
dist/
build/

# Cache
.cache
.npm

# IDE specific files
.vscode/
.idea/
.DS_Store

# Others
*.bak
*.swp
*.tmp
